/* STYLE BODY AND ROLE */
body {
    font-family: "Fredoka", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------  */



/* STYLE HEADER */
.class-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.class-header h1 {
    color: red;
}

/* ------------------  */



/* STYLE MAIN */
main {
    text-align: center;
}

.box-flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#paragraph-main {
    text-align: center;
    width: 80%;
}

.box-flex-main-imgs {
    display: flex;
    width: 66%;
    flex-wrap: wrap;
}

.box-img {
    display: flex;
    color: white;
    background-color: black;
    width: calc(100% / 3 - 30px);
    height: 80px;
    margin: 15px;
}

.image {
    height: 80px;
}

.box-paragraph {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    justify-content: center;
    gap: 5px;
}

.box-paragraph h2 {
    font-size: 17px;
}

.box-paragraph h3 {
    font-size: 15px;
    font-weight: normal;
}

.box-paragraph p {
    font-size: 15px;
    color: aquamarine;
}

/* ------------------  */